@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*header superior*/
header{
    width: 100%;
    position: fixed; /*posición: fija*/
    top: 0;
    left: 0;
    background: #fff;
}
.header-superior{
    max-width: 1200px;
    margin: auto;
    display: flex; /*pantalla: flex;*/
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.logo img{
    width: 250px;
}
.search input{
    width: 300px;
    padding: 10px;
} 
/*barra menu*/
.container-menu{
    width: 100%;
    height: 70px;
    background: #023877;
    padding: 0px 20px;
}
.menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
    z-index: 100;
}
nav{
    height: 100%;
}
nav > ul{ /*que valla al ul que le sigue al nav>*/
    height: 100%;
    display: flex;
}
nav ul li{
    height: 100%; 
    list-style: none;
    position: relative;
}
nav > ul > li:first-child >a{ /*cambia el inicio por icono*/
    background-image: url(../img/inicio.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}
nav > ul > li:first-child >a:hover { /*cambia el inicio por icono*/
    background-image: url(../img/inicio.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}
nav > ul > li > a{ 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; /* aca deb de modificar la posicion del ite  menu es decir la etquea a*/
    padding: 14px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}
nav > ul > li > a:hover{
    transform: scale(1.1);
    background: #0074C7;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#selected{
    transform: scale(1.1);
    background-color: #0074C7;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); 
}
/*sub menu*/
nav ul li ul{ /*esto seria el contenedor del sub menu*/
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute; /*sto es para que se posicioe debajo del menu*/
    top: 90px; /*esto es para ue s eseare un poco del menu servicios*/
    left: -5px;
    padding: 4px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); 
    z-index: 10; 
    transition: all 300ms ease;   
}
nav ul li:hover ul{
  visibility: visible;
  opacity: 1;
  top: 70px;  
}
/*creando el pio del sub menu*/
nav ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}
nav ul li ul li a{
    display: block;
    color: #0099E9;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: 14px;
    transition: all 300ms ease;
}
nav ul li ul li a:hover{
    background: #0074C7;
    color: #fff;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
/*articulos del main*/
main{
    background-color: #f0f0f0;
    padding: 40px 20px;
    margin-top: 230px;
}
article{
    max-width:1200px;
    margin: 20px auto;
    padding: 40px;
    background: #fff;
}

/*elementos responsivos*/
.icon-menu{
    font-size: 26px;
    color: white;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}
#label-chek{
    width: 26px;
    height: 100%;
    display: none;
    visibility: hidden;
    opacity: 0;
}
#check-menu{
    display: none;
    visibility: hidden;
    opacity: 0;
}
/*responsive*/
@media screen and (max-width: 720px){
    .search input{
        display: none;
    }
    .header-superior{
        padding: 10px;
    }
    .logo img{
        width: 200px;
    }
    nav > ul{
        flex-direction: column;
        background-color: #023877;
        position: fixed; /*para que se posicion por encima de todo y s emuestre*/
        left: 0;
        top: 180px; /*eso es por donde omienza el header*/
        width: 100%;
        height: 0px; /*altura*/
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }
    nav > ul > li > a:hover{
        transform: scale(1);
    } 
    nav ul li ul{
        left: 90px;
    }
    nav > ul > li:hover ul{
       top: 50px;
    }
    nav > ul > li:first-child a{
        background-position: 20px;
    }
    #selected{
        transform: scale(1);
    }
    #label-check{
        display: block;
        top: 10px;
        padding: 20px;
    }
    .icon-menu{
        display: flex;
        visibility: visible;
        opacity: 1;
    }
    #check-menu:checked ~ nav > ul{/*la virgulinea se hace con alt gr y la tecla que tiene estos sibolos +* que esta aldo del enter en notebook*/    
        height: 300px;
        visibility: visible;
        opacity: 1;
    } 

}  